body {
    margin:0;
	text-decoration:none;
}

header {
    
    padding: 5px;
    display: flex;
    justify-content: space-between;
	font-size:30px;
	border-bottom:1px solid black;
	background-color:#DBF3FA;
}

header .Logo{
	border-radius:20px;
}

header .Author{
	font-size:20px;
	margin:auto;
}

nav{
	background-color:#ADD8E6;
	font-size:20px;
	text-style:none;
}

nav .Navigation{
	display: flex;
	flex-direction:row;
	justify-content: space-around;
	border-bottom:1px solid black;
	padding:10px;
	background-color:#DBF3FA;
	text-decoration: none;
}

nav .Breadcrumbs{
	padding:20px;
}

.link{
	color:#000000;
	text-decoration:none;
}

article{
	background-color:#ADD8E6;
}


article .Title{
	font-size:100px;
	font-weight:bold;
	text-align:center;
}



footer{
	background-color:#0DA2FF;
	font-size: 90px;
	text-align:center;
	border: 1px solid black;
	height:200px;
	padding:10px;
}
footer .link{
	font-size:20px;
	display:block;
	text-align:left;
}



