body {
    margin:0;
	text-decoration:none;
}

header {
    
    padding: 5px;
    display: flex;
    justify-content: space-between;
	font-size:30px;
	border-bottom:1px solid black;
	background-color:#DBF3FA;
}

header .Logo{
	border-radius:20px;
}

header .Author{
	font-size:20px;
	margin:auto;
}

nav{
	background-color:#ADD8E6;
	font-size:20px;
	text-style:none;
}

nav .Navigation{
	display: flex;
	flex-direction:row;
	justify-content: space-around;
	border-bottom:1px solid black;
	padding:10px;
	background-color:#DBF3FA;
	text-decoration: none;
}

nav .Breadcrumbs{
	padding:20px;
}

.link{
	color:#000000;
	text-decoration:none;
}

article{
	background-color:#ADD8E6;
}

article .Article{
	display:flex;
	justify-content:space-between;	
}

article .Information{
	margin:0 60px 0 60px;
	text-align:center;
	padding:250px;
	font-size:75px;
	border:1px solid gray;
}


article .Title{
	font-size:100px;
	font-weight:bold;
	text-align:center;
}

article img{
	width:400px;
}
article .Text{
	font-size:22px;
	text-align:justify;
	padding: 0 5px 9 5px;
}

article .Solution_Left{
	margin-left:200px;
	border:1px solid black;
}

article .Subtitle{
	text-align:center;
}

article .Image_Right{
	margin-right:200px;
	margin-left:100px;
}

article .Solution_Right{
	margin-right:200px;
	border:1px solid black;
}

article .Image_Left{
	margin-left:200px;
	margin-right:100px;
}

footer{
	background-color:#0DA2FF;
	font-size: 90px;
	text-align:center;
	border: 1px solid black;
	height:200px;
	padding:10px;
}
footer .link{
	font-size:20px;
	display:block;
	text-align:left;
}



