body {
    margin:0;
	text-decoration:none;
}

header {
    
    padding: 5px;
    display: flex;
    justify-content: space-between;
	font-size:30px;
	border-bottom:1px solid black;
	background-color:#767676;
	color:white;
}

header .Logo{
	border-radius:20px;
}

header .Author{
	font-size:20px;
	margin:auto;
}

nav{
	background-color:#444444;
	font-size:20px;
	position:sticky;
	top:0;
}

nav .Navigation{
	display: flex;
	flex-direction:row;
	justify-content: space-around;
	border-bottom:1px solid black;
	padding:10px;
	background-color:#767676;
	text-decoration: none;
	color:white;
}
.first ul {
	margin-left: 50px;
	display:none;
	position:absolute;
}

nav>div div ul {
	border:1px solid black;
	padding:5px;
	opacity:0.75;
	background-color:grey;
}
nav>div div ul li, nav>div div ul li a{
	width: 270px; 
	padding: 5px;
	color:white;
}



nav>div div ul li:hover{
	background:grey;

}

.first:hover ul{
	display:block;
}
nav .Navigation a:hover{
	background-color:black;
}

a:link, a:visited{
	color:white;
}
 .nav{
width: 100px; 
text-align: center; 
padding: 10px; 	
 }
.others{
	position:relative;
	bottom:10px;
}

nav .Breadcrumbs{
	padding:20px;
	color:white;
}

.link{
	color:white;
	text-decoration:none;
	list-style:none;
}

article{
	background-color:#444444;
	color:white;
}

article .Article{
	display:flex;
	justify-content:space-between;	
}

article .Information{
	margin:0 60px 0 60px;
	text-align:center;
	padding:250px;
	font-size:75px;
	border:1px solid gray;
}


article .Title{
	font-size:100px;
	font-weight:bold;
	text-align:center;
}

article img{
	width:400px;
}
article .Text{
	font-size:22px;
	text-align:justify;
	padding: 0 5px 9 5px;
}

article .Solution_Left{
	margin-left:200px;
	border:1px solid black;
	transform: skewY(-3deg);
	
}

article .Subtitle{
	text-align:center;
}

article .Image_Right{
	margin-right:200px;
	margin-left:100px;
	transform:skewY(3deg);
	border:1px solid black;
}

article .Solution_Right{
	margin-right:200px;
	border:1px solid black;
	transform:skewY(3deg);
}

article .Image_Left{
	margin-left:200px;
	margin-right:100px;
	transform: skewY(-3deg);
	border:1px solid black;
}

footer{
	background-color:#3A3B3C;
	font-size: 90px;
	text-align:center;
	border: 1px solid black;
	padding:10px;
	color:white;
}
footer .link{
	font-size:20px;
	display:block;
	text-align:left;
}



